<div mat-dialog-title>
    <h1>CADASTRO E EDIÇÃO DE ALUNOS</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Nome Completo</mat-label>
                <input matInput type="text" placeholder="Ex. Fulano de Tal" formControlName="NomeCompleto">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Ex. test@gmail.com" formControlName="email">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Matricula</mat-label>
                <input matInput placeholder="Ex. 123456" type="number" formControlName="Matricula">
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancelar</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Salvar'}}</button>
    </div>
</form>